@import "src/styles/varibales";
@import "src/styles/mixins";

.NavBarMain {
  animation: become-visible2 2s linear;
}

.NavbarContainer, .NavbarContainer:hover {
  position: fixed;
  top: 0;
  left: 0;
  //width: 49%;
  width: 79%;
  height: 90px;
  margin-top: 0;
  backdrop-filter: blur(9px);
  clip-path: unset;
  z-index: 1000;
  background: linear-gradient(to right, rgba(10,10,50,1) 54%, rgba(10,10,50,0) 100%);

  @media screen and (min-width: 3780px) {
    height: 110px;
  }
}

.NavbarContainerMobile {
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(10, 10, 50, 1);
  overflow: hidden;
  z-index: 1000;
  margin-left: 1rem;
  margin-top: 1rem;

  transition:
    width 0.8s ease-in,
    height 0.8s ease-in,
    background 0.8s ease-in,
    clip-path 0.8s ease-in,
    opacity 0.8s ease-in,
    visibility 0.8s ease-in;

  .CloseButton {
    display: none;
  }

  .NavigationMenuList {
    padding: 0;
    transition: padding 0.8s ease-in;
  }

  .NavigationMenuLink:not(.active) {
    opacity: 0;
    visibility: hidden;
    width: 0;

    &.ImageContainer {
      opacity: 0;
      visibility: hidden;
      width: 0;
    }

    transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
  }

  .ImageContainer.active {
    opacity: 1;
    visibility: visible;
    width: auto;
    gap: 0;

    > p {
      visibility: hidden;
      width: 0;
      display: none;
    }
  }
}

.NavbarContainerMobile.Expanded {
  width: 100%;
  height: 50vh; /* Or desired height */
  border-radius: 0;
  background: radial-gradient(circle at top left, rgba(10, 10, 50, 1) 62%, rgba(10, 10, 50, 0) 145%);
  clip-path: circle(60% at top left);
  margin-left: 0;
  margin-top: 0;

  @media screen and (max-height: 950px) {
    clip-path: circle(94% at top left);
  }

  .CloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 9px;
    left: 9px;
    background: white;
    color: rgb(10, 10, 50);
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;


    animation: become-visible 2s ease-in-out;
  }

  .NavigationMenuRoot {
    > div {
      display: flex;
      justify-content: center;
    }
  }

  .InnerWrapper {
    flex-direction: column;
  }

  .NavigationMenuLink {
    width: max-content;
  }

  .NavigationMenuLink:not(.active),
  .ImageContainer {
    opacity: 1;
    visibility: visible;
    width: max-content;
  }

  .NavigationMenuList {
    width: inherit;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2.5rem 4rem 0 3rem;
    position: relative;
  }

  .ImageContainer {
    justify-content: unset;
    margin-left: 0.7rem;
    margin-bottom: 0;
  }
}

.NavbarContainer,
.NavbarContainer:hover,
.NavbarContainer.Shrink,
.NavbarContainer.Shrink:hover {
  transition:
    width 0.8s ease-in,
    height 0.8s ease-in,
    background 0.8s ease-in,
    clip-path 0.8s ease-in,
    opacity 0.8s ease-in,
    visibility 0.8s ease-in;
}

.Shrink {
  width: 5%;
  clip-path: circle(25%);
  background: rgba(10, 10, 50, 0.9);
  overflow: hidden;
}

.NavbarContainer.Shrink .NavigationMenuLink:not(.active),
.NavbarContainer.Shrink .ImageContainer
{
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: opacity 0.8s ease-in, visibility 0.8s ease-in;
}

.NavbarContainerMobile .NavigationMenuLink:not(.active),
.NavbarContainerMobile .ImageContainer {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.NavbarContainer.Shrink .NavigationMenuLink.active {
  opacity: 1;
  visibility: visible;
  padding: 5px;
}

.NavbarContainer.Shrink:hover .NavigationMenuLink {
  opacity: 1;
  visibility: visible;
  width: auto;

  &.active {
    color: $bluish;
  }
}

.NavbarContainer.Shrink:hover .ImageContainer {
  display: flex;
  opacity: 1;
  visibility: visible;
  width: auto;
}

.NavbarContainer.Shrink .NavigationMenuList,
.NavbarContainerMobile .NavigationMenuList
{
  display: flex;
  justify-content: center;
  align-items: center;

  li:not(:has(.active)) {
    width: 0;
  }
}

.NavbarContainer.Shrink:hover .NavigationMenuList {
  justify-content: flex-start;

  li {
    width: auto;
  }
}

.NavbarContainer.Shrink .InnerWrapper {
  justify-content: center;
}

.NavbarContainer.Shrink:hover .InnerWrapper {
  justify-content: flex-start;
}

.InnerWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  height: 100%;
}

.ImageContainer {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  background: inherit;
  text-decoration: none;

  p {
    margin-left: 0.5rem;
    color: white;
    transition: transform .5s ease, color .5s ease-in-out;

    &:hover {
      color: $bluish;
      transform: scale(1.1);
    }

    span {
      display: none;
    }
  }
}

.ImageContainer.active {
  @include glitch-text;

  p {
    color: $bluish;
  }
}

.ImageLogo {
  display: block;
  border-radius: 50px;
}

.NavigationMenuRoot {
  transition: max-height 0.3s ease-in-out;

  max-height: 0;
  overflow: hidden;
  opacity: 0;

  background-color: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;

  > div {
    width: 100%;
  }
}

.Open {
  max-height: fit-content;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToggleButton {
  display: inline;
  background: $selected-gray;
  color: black;
  border: none;
  border-radius: 0 0 7px 7px;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: -17px;
}

.ToggleButton:focus {
  outline: none;
}

.NavigationMenuList {
  display: flex;
  gap: 1%;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  list-style: none;
  margin: 0;
  height: 100%;

  li {
    width: auto;
  }
}

.NavigationMenuLink {
  display: block;
  width: auto;
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
  font-size: 15px;
  color: white;
  transition: transform .5s ease, color .5s ease-in-out;

  p {
    all: unset;

    span {
      display: none;
    }
  }

  &:hover {
    color: $bluish;
  }
}

.NavigationMenuLink.active {
  color: $bluish;

  @include glitch-text;
}

.NavigationMenuLink:hover:not(.active) {
  transform: scale(1.1);
}

@keyframes border-radius-blob {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 6% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes text-glitch {
  0% {
    text-shadow: 0.05rem 0 0 #00fffc, -0.03rem -0.04rem 0 #fc00ff, 0.025rem 0.04rem 0 #fffc00;
  }
  15% {
    text-shadow: 0.05rem 0 0 #00fffc, -0.03rem -0.04rem 0 #fc00ff, 0.025rem 0.04rem 0 #fffc00;
  }
  16% {
    text-shadow: -0.05rem -0.025rem 0 #00fffc, 0.025rem 0.035rem 0 #fc00ff, -0.05rem -0.05rem 0 #fffc00;
  }
  49% {
    text-shadow: -0.05rem -0.025rem 0 #00fffc, 0.025rem 0.035rem 0 #fc00ff, -0.05rem -0.05rem 0 #fffc00;
  }
  50% {
    text-shadow: 0.05rem 0.035rem 0 #00fffc, 0.03rem 0 0 #fc00ff, 0 -0.04rem 0 #fffc00;
  }
  99% {
    text-shadow: 0.05rem 0.035rem 0 #00fffc, 0.03rem 0 0 #fc00ff, 0 -0.04rem 0 #fffc00;
  }
  100% {
    text-shadow: -0.05rem 0 0 #00fffc, -0.025rem -0.04rem 0 #fc00ff, -0.04rem -0.025rem 0 #fffc00;
  }
}

@keyframes become-visible {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.25;
  }
  85% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes become-visible2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  95% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}