@import "src/styles/varibales";

.NavbarContainer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.03);
  //filter: blur(8px);
  //-webkit-filter: blur(8px);
  backdrop-filter: blur(18px);
  //display: grid;
  //grid-template-columns: 20% auto;
  //grid-template-rows: 100%;
  width: 100%;
}

.InnerWrapper {
  position: relative;
  display: flex;
}

.ImageContainer {
  margin: 6px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  background: inherit;

  p {
    margin-left: 0.5rem;
    color: white;
  }
}

.ImageLogo {
  display: block;
  border-radius: 50px;
}

.NavigationMenuRoot {
  transition: max-height 0.3s ease-in-out;
  //transition: max-height 3s ease-out, opacity 1s ease-out;

  max-height: 0;
  overflow: hidden;
  //position: relative;
  opacity: 0;

  background-color: inherit;
  display: flex;
  justify-content: center;
  width: 80%;
  z-index: 1;
  //border-bottom: 3px solid $selected-gray;

  > div {
    //position: unset;
    //margin: 10px 0;
    width: 100%;
  }
}

.Open {
  max-height: fit-content;
  opacity: 1;
  //height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ToggleButton {
  display: inline;
  background: $selected-gray;
  color: black;
  border: none;
  border-radius: 0 0 7px 7px;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: -17px;
}

.ToggleButton:focus {
  outline: none;
}

.NavigationMenuList {
  display: flex;
  gap: 1%;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  list-style: none;
  margin: 0;
  height: 100%;
}

.NavigationMenuLink {
  display: block;
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  text-decoration: none;
  line-height: 1;
  font-size: 15px;
  color: white;
  transition: transform .5s;

  &:hover {
    color: #73d9cc;
  }
}

.active {
  color: #73d9cc;
  //background: linear-gradient(360deg, $selected-orange-darker, $selected-orange 70%, #FBAA74);
  //animation-duration: 35s;
  //animation-timing-function: ease-in-out;
  //animation-delay: 0s;
  //animation-iteration-count: infinite;
  //animation-direction: alternate;
  //animation-fill-mode: both;
  //animation-play-state: running;
  //animation-name: border-radius-blob;
  //animation-timeline: auto;
  //animation-range-start: normal;
}

.NavigationMenuLink:hover:not(.active) {
  transform: scale(1.1);
}

@keyframes border-radius-blob {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 6% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.TextGlitch {
  position: relative;
  text-shadow: 0.05rem 0 0 #00fffc, -0.03rem -0.04rem 0 #fc00ff, 0.025rem 0.04rem 0 #fffc00;
  animation: text-glitch 725ms infinite;

  span {
    position: absolute;
    top: 0;
    left: 0;

    &:first-child {
      animation: text-glitch 500ms infinite;
      clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
      transform: translate(-0.04rem, -0.03rem);
      opacity: 0.75;
    }

    &:last-child {
      animation: text-glitch 375ms infinite;
      clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
      transform: translate(0.04rem, 0.03rem);
      opacity: 0.75;
    }
  }
}

@keyframes text-glitch {
  0% {
    text-shadow: 0.05rem 0 0 #00fffc, -0.03rem -0.04rem 0 #fc00ff, 0.025rem 0.04rem 0 #fffc00;
  }
  15% {
    text-shadow: 0.05rem 0 0 #00fffc, -0.03rem -0.04rem 0 #fc00ff, 0.025rem 0.04rem 0 #fffc00;
  }
  16% {
    text-shadow: -0.05rem -0.025rem 0 #00fffc, 0.025rem 0.035rem 0 #fc00ff, -0.05rem -0.05rem 0 #fffc00;
  }
  49% {
    text-shadow: -0.05rem -0.025rem 0 #00fffc, 0.025rem 0.035rem 0 #fc00ff, -0.05rem -0.05rem 0 #fffc00;
  }
  50% {
    text-shadow: 0.05rem 0.035rem 0 #00fffc, 0.03rem 0 0 #fc00ff, 0 -0.04rem 0 #fffc00;
  }
  99% {
    text-shadow: 0.05rem 0.035rem 0 #00fffc, 0.03rem 0 0 #fc00ff, 0 -0.04rem 0 #fffc00;
  }
  100% {
    text-shadow: -0.05rem 0 0 #00fffc, -0.025rem -0.04rem 0 #fc00ff, -0.04rem -0.025rem 0 #fffc00;
  }
}
